faiss-cpu==1.9.0
langchain==0.3.4
langchain-community==0.3.3
langchain-core==0.3.12
langchain-openai==0.2.3
langchain-text-splitters==0.3.0
lightgbm==4.5.0
matplotlib==3.9.2
numpy==1.26.4
openai==1.52.0
openpyxl==3.1.5
PyMuPDF==1.24.12
scikit-learn==1.5.2
scipy==1.14.1
xgboost==2.1.1
xlrd==2.0.1